@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#EAEAEA];
  }

  body {
    @apply font-sans antialiased bg-[#FAFAFA] text-[#222222];
  }

  .status-open {
    @apply bg-[#2ECC71]/10 text-[#2ECC71];
  }

  .status-closed {
    @apply bg-[#666666]/10 text-[#666666];
  }

  .status-filled {
    @apply bg-[#007D8A]/10 text-[#007D8A];
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0; /* added to prevent default body margin */
}


/* Banner Styles */
.banner {
  @apply bg-gradient-to-r from-blue-500 to-purple-500 text-white p-10 flex items-center justify-center;
  min-height: 200px;
}

.banner-content {
  @apply text-center text-3xl font-bold;
}

.banner-button {
  @apply mt-4 bg-white text-blue-500 hover:bg-blue-100 px-6 py-3 rounded-md font-semibold;
}