@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#EAEAEA];
  }

  body {
    @apply font-sans antialiased bg-[#FAFAFA] text-[#222222];
  }

  .status-open {
    @apply bg-[#2ECC71]/10 text-[#2ECC71];
  }

  .status-closed {
    @apply bg-[#666666]/10 text-[#666666];
  }

  .status-filled {
    @apply bg-[#007D8A]/10 text-[#007D8A];
  }
}